footer {
  height: 90px;
  background-color: #1c638f;
  padding: 30px;
  bottom: 0;
  font-size: 0;
}
.footer-logo {
  font-size: 40px;
  color: white;
  float: left;
}
.footer-list {
  float: right;
  font-size: 20px;
}
li {
  list-style: none;
  color: white;
}
.footer-list li {
  padding-bottom: 20px;
  vertical-align: middle;
}
