header {
  height: 90px;
  background-color: #87cefa;
  width: 100vw;
  display: flex;
  vertical-align: middle;
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo {
  margin: 10px;
  width: 300px;
  font-size: 40px;
  color: white;
  vertical-align: middle;
}
.search-container {
  margin-left: 20px;
  width: 50%;
  height: 80%;
  vertical-align: middle;
}
.search-container input[type="text"]{
  border: 1px solid #999;
  padding: 3px 5px;
  border-radius: 30px;
  height: 70%;
  width: 70%;
  overflow: hidden;
  font-size: 20px;
  vertical-align: middle;
}
.search-container input[type="text"]:focus {
  outline: 0;
}
.search-container input[type="submit"]{
  cursor: pointer;
  /* font-family: FontAwesome; */
  font-size: 30px;
  border: none;
  background: none;
  color: #3879D9;
  outline : none;
  display: inline-block;
  vertical-align: middle;
}
.wallet_button {
  justify-content: right;
  vertical-align: middle;
  color: white;
}
