header {
  height: 150px;
  padding: 15px;
  background-color: rgba(28, 99, 143, 0.8);
  width: 100%;
  display: flex;
  vertical-align: middle;
  position: sticky;
  top: 0;
  z-index: 999;
}
.logo {
  margin: 10px;
  margin-right: 100px;
  width: 150px;
  font-size: 40px;

  color: white;
  vertical-align: middle;
}
.search {
  margin: 35px;
  width: 50%;
  height: 40%;
  display: flex;
  vertical-align: middle;
}
.search-box {
  margin-left: 20px;
  margin: 5px;
  width: 70%;
  height: 100%;
  border-radius: 30px;
  border-width: 1px;
  border-color: grey;
  font-size: 20px;
  color: grey;
  background-color: aliceblue;
  vertical-align: middle;
}
.search-button {
  margin: 5px;
  width: 10%;
  height: 100%;
  border-width: 0;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #1c638f;
  background-color: rgb(191, 215, 224);
  vertical-align: middle;
  text-align: center;
}
.wallet_button {
  margin: 50px;
  margin-left: 250px;
  margin-right: 50px;
  width: 200px;
  float: right;
  vertical-align: middle;
}
